<!DOCTYPE html>
<html lang="en">

<%- partial('_partial/head') %>

<body>
  <div class="wrap">
    <header>
      <%- partial('_partial/nav') %>
    </header>
    <main class="container">
      <%- body || 'Compile Error' %>
    </main>
    <%- partial('_partial/footer') %>
  </div>
</body>

</html>