<div class="row">
    <div class="tags col-sm-8 col-xs-12">
        <h1>Tags</h1>
        <h3><%=site.tags.length%> tags in total</h3>
        <%- list_tags() %>
    </div>
    <div class="col-sm-4 col-xs-12 first-xs last-sm">
        <%- partial('_partial/sidebar') %>
    </div>
</div>