.archive {
    max-width: 500px;
    margin: 3em auto 5rem auto;
    .post-item {
        padding: 2px 0 0 50px;
    }
    .post-time,
    .post-title-link {
        font-size: 1rem;
    }
    .post-title-link {
        display: block;
        margin-left: 125px;
        color: $theme-color;
        word-break: break-word;
        &:hover {
            border-bottom: 0;
            color: $theme-color-hover;
        }
    }
    .post-info {
        float: left;
        width: 125px;
        color: $subtle-text-color;
    }
}