::selection {
    color: $selection-color;
    background-color: $theme-color;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    color: $text-color;
    font-size: 16px;
    line-height: 1.6;
    background-color: $body-bg-color;
    font-family: 'Palatino Linotype','Palatino', 'Helvetica Neue', Arial, sans-serif;
}

ul.nav,
ul.post-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul {
    margin: 1rem 0;
}

a, a:active {
    color: $title-link-color;
    text-decoration: none;
}

a.post-title-link:hover {
    border-bottom: 2px solid $theme-color;
}

hr {
    border: 0;
}

code {
    margin: 0 2px;
    padding: 3px 5px;
    color: $code-color;
    border-radius: 2px;
    white-space: inherit;
}

iframe, video {
    max-width: 100%;
    margin: 1rem auto;
    display: block;
}

table {
    width: 100%;
    margin: 1em auto;
    thead {
        background-color: $thead-bg-color;
        th {
            padding: 5px;
            min-width: 20px;
        }
    }
    tbody {
        tr:nth-child(2n) {
            background-color: $tbody-bg-color;
        }
        td {
            padding: 5px;
            vertical-align: text-top;
        }
    }
}

.lock-scroll {
    margin: 0; 
    height: 100%; 
    overflow: hidden
}