.category {
    .category-title {
        font-size: 1.5em;
        small {
            color: #666;
        }
    }
}

.categories {
    h1 {
        text-align: center;
        margin-bottom: 0;
    }
    h3 {
        text-align: center;
        margin-top: 0;
    }
    .category-list-item {
        margin-bottom: 5px;
    }
    .category-list-count {
        color: #666;
        &:before{
            content: " (";
        }
        &:after{
            content: ")";
        }
    }
    a.category-list-link {
        border-bottom: 1px solid #999;
    }
}