.paginator {
    margin: 4em 0;
    text-align: center;
    .prev, .next {
        display: inline-block;
        margin: 0 4px;
        padding: 4px 12px;
        border-radius: 4px;
        border-bottom: 4px solid $paginator-button-border;
        font-size: 14px;
        color: $paginator-button-color;
        background-color: $paginator-button-bg;
        &:hover {
            background-color: $paginator-button-bg-hover;
        }
    }
}

footer {
    padding-bottom: 1px;
    .copyright {
        margin: 4em 0;
        border-top: 1px solid $border-color;
        text-align: center;
        p, a {
            color: $copyright-text-color;
            font-size: 10.5px;
            font-weight: 100;
            line-height: 0.5;
        }
        a:hover {
            color: $copyright-text-hover-color;
        }
    }
}
