$xs-min-width: 30em;
$sm-min-width: 48em;
$md-min-width: 64em;
$lg-min-width: 75em;

$theme-color: #42b983;
$theme-color-hover: #267B54;
$text-color: #34495e;
$text-underline-color: #999;
$subtle-text-color: #7f8c8d;
$title-link-color: #2c3e50;
$code-color: #e96900;
$thead-bg-color: #ddd;
$tbody-bg-color: #eee;
$border-color: #ddd;
$body-bg-color: white;
// copyright
$copyright-text-color: #aaa;
$copyright-text-hover-color: #888;
// paginator-button
$paginator-button-bg: #4fc08d;
$paginator-button-color: white;
$paginator-button-border: #3aa373;
$paginator-button-bg-hover: #22bd77;
// selection
$selection-color: #FFFFFF;
$selection-bg-color: $theme-color;
// navbar
$nav-shadow: #ccc;
$hamburger-color: #cdcdcd;
$crossmark-color: #232323;
$mobile-nav-bg-color: #ededed;
