<footer>
    <div class="copyright">
        <p>
            © <%= (new Date()).getFullYear() %>
            <a href="<%=config.url%>"><%=config.author%></a>
            , powered by 
            <a href="https://hexo.io/" target="_blank">Hexo</a>
             and 
            <a href="https://github.com/JNKKKK/hexo-theme-abaddon" target="_blank">hexo-theme-abaddon</a>
            .
        </p>
    </div>
</footer>